<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<style>

    h1{
        font-size: 300%;
        color: white;
        text-align: center;
    }
    .container{
        text-align: left;
        color: #45cb85;
        font-size: 150%;
        font-family: "Arial Rounded MT Bold";
    }

    button{
        background-color: #45cb85;
        border-color: #45cb85;
        font-size: 120%;
    }

    button1{
        background-color: #ff4655;
        border-color: #ff4655;
        font-size: 120%;
    }
</style>
<body style="background-color: #282e3a">

<h1>
    <u>Welcome Administrator</u>
</h1>

<div class="container">
    <p>Create a new Game</p>
    <button>
        <a href="/creategame" style="color: green">Create game</a>
    </button>
    <p>Leave session</p>
    <button1>
        <a href="/logout" style="color: darkred">Sign Out</a>
    </button1>
</div>



</body>
</html>