<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Game</title>
</head>
<style>
    .container{
        text-align: center;
        margin-top: 100px;
    }
</style>
<body style="background-color: black">
<h1 style="color: lime; font-size: 300%; text-align: center">
        <u>Welcome to the game creator</u>
</h1>
<form class="container" action = "/creategame" role="form" method="post">
        <label for="gameNameId" style="color: lime; font-size: 150%"> Game Name:</label><br>
        <input type="text" id="gameNameId" name="gameName" style="font-size: 120%" required>
        <br>
        <label for="gameCategoryId" style="color: lime; font-size: 150%"> Game Category:</label><br>
        <input type="text" id="gameCategoryId" name="gameCategory" style="font-size: 120%" required>
        <br>
        <label for="gameLvlMaxId" style="color: lime; font-size: 150%"> Game Max Lvl:</label><br>
        <input type="number" min="1" id="gameLvlMaxId" name="gameLvlMax" style="font-size: 120%" required>
        <br>
        <label for="gameRanks" style="color: lime; font-size: 150%"> Game Rank <i>(insert a(,)between each rank without spaces):</i></label><br>
        <input type="text" id="gameRanks" name="gameRanks" style="font-size: 120%">
        <br>
        <br>
        <button type="submit"; style="font-size: 150%; background-color: lime; border-color: lime">
            Create game
        </button>
        <!--onclick="createGame()"-->
        <!--poner todos en un div en ves de usar br-->
</form>


</body>

<script>
function createGame() {
    const gameName = document.getElementById("gameRanks")
    fetch("/game")
        .then(response => response.json())
        .then(data => console.log(data));
}

</script>

</html>