<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the interest creator</title>
</head>
<style>
    .container{
        color: #45cb85;
        text-align: center;
        margin-top: 100px;
        font-family: "LEMON MILK";
    }
</style>
<body style="background-color: #282e3a; background-image: url(/img/Background2.jpg); background-repeat: no-repeat;
 background-position: center; background-size: 81%">
    <h1 style="color: white; font-size: 300%; text-align: center">
        <u>Create An Interest</u>
    </h1>
    <p style="color: #45cb85; font-size: 250%; text-align: center; font-family: 'LEMON MILK'">What do you seek in a player?</p>
    <form class="container" action = "/createinterest" role="form" method="post">
        <label for="gameNameId" style="font-size: 200%"> Select Game:</label>
        <input type="text" id="gameNameId" name="gameName" style="font-size: 120%" required>
        <br>
        <label for="gamerLvl" style="font-size: 200%"> Select lvl:</label>
        <input type="number" min="1" id="gamerLvl" name="gamerLvl" style="font-size: 120%" required>
        <br>
        <label for="gamerRank" style="font-size: 200%"> Select Rank:</label>
        <input type="text" min="1" id="gamerRank" name="gamerRank" style="font-size: 120%" required>
        <br>
        <br>
        <button type="submit" style="font-size: 150%; background-color: #45cb85; border-color: #45cb85;">
            Create interest
        </button>
    </form>
</body>
</html>